<html>
{% load boost %}
    <head>
        <meta charset="utf-8">
        <title>tryon_app</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-light" style="border-bottom: solid 5px black;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">TryonApp</a>
                </div>
            </div>
        </nav>

        <br>
        <div class="text-center">
            <p style="color:red;">{{ message }}</p>
        </div>

        <br>

        <form action="{% url 'tryon_app:tryon' %}" method="POST">

            <div class='container container-m' id='page-permid'>
                <nav class="navbar navbar-right bg-light">
                    <span class="navbar-brand mb-0 h1 text-center">選択したモデル</span>
                </nav>
                <input  id="hide_checkbox" type="checkbox" name="{{ name }}" checked>
                <br>
                <br>
                <img class='img-fluid' src="{{ MEDIA_URL }}{{ img }}" alt="selected_model" width="250">
            </div>
    
            <br>
            <br>
            <br>

            <div class='text-center' id='select_box'>
                <div class='container container-m' id='cloth_image'>
                    <nav class="navbar navbar-right bg-light">
                        <span class="navbar-brand mb-0 h1 text-center">試着したい服を選択してください</span>
                    </nav>
                    <br>
                    <br>
                    <div class="row">
                        {% csrf_token %}
                        {% for image, id in cloth_img|zip:id_count %}
                        <div class="col-md-4 img-hidden">
                            <div class="card" style="width: 20rem;">
                                <br>
                                <img class='img-fluid' src="{{ MEDIA_URL }}{{ image.cloth_img }}" width="auto" height="auto"><br>
                                <!-- <p>{{ image.cloth_img }}</p>
                                <p>{{ id }}</p> -->
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label id="{{ id }}" class="btn btn-Light btn-block active">
                                      <input type="radio" name="{{ image.cloth_img }}"  autocomplete="off">選択
                                    </label>
                                </div>         

                            </div>
                            <br>
                            <!-- <p>{{ image.cloth_name }}</p> -->

                            <br>

                            
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class='text-center' id='submit_btn'>
                <p>{{ alert }}</p>
                <a href="{% url 'tryon_app:model_select' %}"><button class="btn btn-Light btn-lg" type="button">戻る</button></a>
                <button type="submit" class="btn btn-Light btn-lg" name="submit_btn" value=" submit_btn">試着結果へ</button>
            </div>


        </form>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

    <script>
        document.getElementById("hide_checkbox").style = "visibility:hidden;"

        $('#cloth1').click(function(){
            $('#cloth1').css("background-color", "#c0c0c0");
            $('#cloth2').css("background-color", "#f8f9fa");
            $('#cloth3').css("background-color", "#f8f9fa");
            $('#cloth4').css("background-color", "#f8f9fa");
            $('#cloth5').css("background-color", "#f8f9fa");
            $('#cloth6').css("background-color", "#f8f9fa");
        });
        $('#cloth2').click(function(){
            $('#cloth1').css("background-color", "#f8f9fa");
            $('#cloth2').css("background-color", "#c0c0c0");
            $('#cloth3').css("background-color", "#f8f9fa");
            $('#cloth4').css("background-color", "#f8f9fa");
            $('#cloth5').css("background-color", "#f8f9fa");
            $('#cloth6').css("background-color", "#f8f9fa");
        });
        $('#cloth3').click(function(){
            $('#cloth1').css("background-color", "#f8f9fa");
            $('#cloth2').css("background-color", "#f8f9fa");
            $('#cloth3').css("background-color", "#c0c0c0");
            $('#cloth4').css("background-color", "#f8f9fa");
            $('#cloth5').css("background-color", "#f8f9fa");
            $('#cloth6').css("background-color", "#f8f9fa");
        });
        $('#cloth4').click(function(){
            $('#cloth1').css("background-color", "#f8f9fa");
            $('#cloth2').css("background-color", "#f8f9fa");
            $('#cloth3').css("background-color", "#f8f9fa");
            $('#cloth4').css("background-color", "#c0c0c0");
            $('#cloth5').css("background-color", "#f8f9fa");
            $('#cloth6').css("background-color", "#f8f9fa");
        });
        $('#cloth5').click(function(){
            $('#cloth1').css("background-color", "#f8f9fa");
            $('#cloth2').css("background-color", "#f8f9fa");
            $('#cloth3').css("background-color", "#f8f9fa");
            $('#cloth4').css("background-color", "#f8f9fa");
            $('#cloth5').css("background-color", "#c0c0c0");
            $('#cloth6').css("background-color", "#f8f9fa");
        });
        $('#cloth6').click(function(){
            $('#cloth1').css("background-color", "#f8f9fa");
            $('#cloth2').css("background-color", "#f8f9fa");
            $('#cloth3').css("background-color", "#f8f9fa");
            $('#cloth4').css("background-color", "#f8f9fa");
            $('#cloth5').css("background-color", "#f8f9fa");
            $('#cloth6').css("background-color", "#c0c0c0");
        });
    </script>
</html>