<html>
    <head>
        <meta charset="utf-8">
        <title>tryon_app</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
   
        <nav class="navbar navbar-light" style="border-bottom: solid 5px black;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">TryonApp</a>
                </div>
            </div>
        </nav>


        <br>
        <br>

        <form action="{% url 'tryon_app:cloth_select' %}" method="POST">

            <div class='text-center' id='select_box'>
                <div class='container container-m' id='model_image'>
                    <nav class="navbar navbar-right bg-light">
                        <span class="navbar-brand mb-0 h1 text-center">着せ替えたいモデルを<b>1体</b>選択してください</span>
                    </nav>
                    <br>
                    <div class="text-center">
                        <p style="color:red;">{{ message }}</p>

                    </div>

                    <br>
                    <br>

                    <!-- <div id="alert" class="alert alert-danger" role="alert">
                        <p id="alert_message">{{ message }}</p>
                    </div> -->


                    <div class='row' id='model_position'>

                        {% csrf_token %}
                        {% for image in images %}
                        <!-- <p>{{ image.model_name }}</p> -->

                        <div class="col-md-4 img-hidden">
                            <div class="card" style="width: 20rem;">
                                <br>
                                <img id="{{ image.model_name }}_img" class='img-fluid' src="{{ MEDIA_URL }}{{ image.img }}" width="auto" height="auto"><br>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-Light btn-block active">
                                      <input type="radio" name="{{ image.model_name }}" id="{{ image.model_name }}" autocomplete="off">選択
                                    </label>
                                    <!-- <p id="m_S_message"></p> -->
                                </div>         

                            </div>
                            <br>
                            <br>

                            <!-- <input class='text-center' type="checkbox" class="btn btn-Light" name="{{ image.model_name }}" value="{{ image.model_name }}"><br> -->
                        </div>
                        {% endfor %}

                    </div>

                </div>

            </div>
            <div id="output">

            </div>


            <div class='text-center' id='submit_btn'>
                <a href="{% url 'tryon_app:index' %}"><button class="btn btn-Light btn-lg" type="button">戻る</button></a>
                <button type="submit" class="btn btn-Light btn-lg" name="submit_btn" value="submit_btn">次へ</button> 
            </div>



        </form>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>

            document.getElementById("alert").style = "visibility:hidden;"

            // function alert(){

            //     var am = document.getElementById("alert_message") == "";

            //     if (am != ""){
            //         document.getElementById("alert").style = "visibility:visible;"              
            //     }
            // }

            var m_S_checked = document.getElementById("m_S").checked;
            if (m_S_checked){
                console.log("m_Sが選択されました")
                document.getElementById("m_S").style = "border:solid 3px #696969;";
                document.getElementById("m_S_message").innerHTML = "m_Sを選択しました";
            }else{
                document.getElementById("m_S").style = "border:solid 3px #696969;";          
            }


        </script>
    </body>
</html>